#forum-content
{
    width: 770px;
    float: left;
}

/******************************************/
/************ Menu Navigation *************/
/******************************************/

#forum_nav
{
    width: 970px;
}

#forum_nav ul
{
    margin: 70px auto;
    list-style-type : none;
    /*padding-bottom: 1px;*/
}

#forum_nav ul li
{
    float : left;
    margin-left: 100px;
}

#forum_nav a
{
    font-family: Helvetica, Calibri, Tahoma;
    font-size: 16px;
    font-weight: bold;
    /*color: #F90;*/
    padding: 5px;
}

#forum_nav a:hover
{
    color: #222; /*#0069D6; /* D3D3D3 */
    text-decoration: none;
    background-color: #F7A922; /*#993300; /* 9933001C1C1C */
}

/******************************************/
/*********** Sidebar left *****************/
/******************************************/
#sidebar-left
{
    float: left;
    overflow: hidden;
    width: 85px;
    background-color: #FFCC66;
    margin: 15px 10px 0 0;
    padding: 5px;
}

/******************************************/
/***************** Topics *****************/
/******************************************/
#topics-top
{
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    width: 768px;
    float: left;
    text-align: center;
    background-color: #F7A922; /*#e3e3c7;*/
    margin-bottom: 3px;
    border: grey solid 1px;
    font-weight: bold;
    font-size: 11px;
    color:  #F1F1F1;
}

#topics
{
    float: left;
    width: 750px;
    background-color: #E6EBEA;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 10px;
}

.topic
{
    background-color: #EEE;
    width: 750px; /*700*/
    padding : 6px 0 6px 0;
    border-bottom: solid #AAA 1px;
    /*background-color: #F1F1F1; /*#e6e6e6;/*#dcdcdd;*/
    float: left;
    margin-bottom: 4px;
    -moz-box-shadow: 0 0 1px #888;
    -webkit-box-shadow: 0 0 1px #888;
    box-shadow: 0 0 1px #888;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.topic:hover
{
    background-color: #FEFEFE;
    -moz-box-shadow: 0 0 2px #888;
    -webkit-box-shadow: 0 0 2px #888;
    box-shadow: 0 0 2px #888;
}

.topic.closed
{
    background-color: #AAA;
}

.topic.interest
{
    background-color: #FC6; /*#AEA;*/
}

#topic-container-top
{
    width: 570px; /*500*/
    float: left;
}

.topic-container
{
    width: 550px; /*500*/
    float: left;
}

.topic-container.default
{
    /*border-left: solid #CC6600 5px;*/
}

.topic-stats
{
    float: right;
    width: 195px;
}

.topic-subject a
{
    color: #0069D6;
    font-weight: bold;
    font-size: 14px;
}

.topic-subject a:hover, .topic-subject a:visited:hover
{
    color: #FF6600;
    text-decoration: none;
}

.topic-subject a:visited
{
    color: #4A6B82;
}

.topic-subject
{
    padding-left: 15px;
    width: 550px;
    overflow: hidden;
    /*word-wrap: break-word;*/
}

.topic-author
{
    float: right;
    width: 100px;
}

.topic-author a
{
    float: right;
}

#tags-table .tag
{
    /* Override tag font-size property */
    font-size: 1em;
}

/*#topic-vote-top, #topic-response-top
{
    float: left;
    width: 50px;
    text-align: center;
    margin-top: 0;
}*/

#topic-vote-response-top
{
    float: left;
    width: 108px;
    text-align: center;
    margin-top: 0;
}

.vote-response-block
{
    float: right;
    width: 108px;
}

.topic-vote, .topic-response-number
{
    /*float: right;*/
    text-align: center;
    margin-top: 0;
    margin: 0 4px 0 4px;
    -moz-box-shadow: 0 0 3px #888;
    -webkit-box-shadow: 0 0 3px #888;
    box-shadow: 0 0 3px #888;
}

.topic-vote
{
    background-color: #D3D3D3;
}

.topic-response-number
{
    background-color: /*#FFCC66;*/ #74C2E1;
}

.topic-response-number.answered
{
    background-color: #46a546;
    color: #FFF;
}

.topic-response-number.resolved
{
    background-color: #46a546;
    color: #fc6;
}

#topic-date-top
{
    float: left;
    text-align: center;
    width: 85px;
}

.topic-date
{
    float: right;
    text-align: center;
    width: 85px;
    /*background-color: #eaeaea;
    -moz-box-shadow: 0 0 3px #888;
    -webkit-box-shadow: 0 0 3px #888;
    box-shadow: 0 0 3px #888;*/
}

/******************************************/
/*************** Show Topic ***************/
/******************************************/
#show-topic, #table-topic, .table-message
{
    width: 750px;
}

#topic-header
{  
    word-wrap: break-word;
    overflow: hidden;
}

#topic-header h1
{
    color: black;
    font-size: 20px;
    letter-spacing: 0px;
    width: inherit;
}

#topic-main, .message
{
    width: 750px;
    border: solid  #D3D3D3 1px;
    background-color: #F1F1F1;
    margin-bottom: 20px;
}

#topic-top
{
    border-bottom: dotted grey 1px;
}

#edit-topic, #edit-message
{
    float: right;
    font-size: 11px;
}

#topic-date
{
    float: left;
    font-size: 11px;
}

.message-top td
{
    font-size: 11px;
    border-bottom: dotted grey 1px;
}

.message-date
{
    float: left;
}

#message-validated
{
    background-color: #9F9;
}

.message-validation
{
    float: right;
}

#topic-content, #message-content
{
    margin: 10px;
    /*line-height: 13px;*/
    font-size: 13.5px;
    width: 660px;
    line-height: 150%;
    overflow: hidden;
}

#topic-content ol, #message-content ol, #topic-content ul, #message-content ul
{
    padding-left: 40px;
}

#table-vote-author
{
    background-color: #FFCC66;
    float: right;
    /*margin-right: 50px;*/
    -moz-box-shadow: 0 0 5px #888;
    -webkit-box-shadow: 0 0 5px #888;
    box-shadow: 0 0 5px #888;
    margin-right: 10px;
}

#table-vote-author td
{
    padding: 4px;
}

.topic-tags
{
    margin: 5px;
    height: 21px;
}

.topic-menu
{
    margin: 5px;
    float: left;
}

.topic-info
{
    margin: 5px;
    float: right;
}

.topic-menu a, .nb-reopen-votes, .topic-info, .message-info
{
    font-size: 0.9em;
    color: #555555;
}

.message-info
{
    float: right;
}

.table-message .comments, #table-topic .comments
{
    margin: 20px 20px 0 20px;
}

.table-message .comment-link, #table-topic .comment-link
{
    margin: 0 20px 10px 20px;
}

.comment-link
{
    float: left;
}

.table-message .comment-link a, #table-topic .comment-link a
{
    color: #666;
    font-weight: bold;
    font-size: 0.9em;
}

.table-message .comment, #table-topic .comment
{
    border: solid #DDD 1px;
    margin-bottom: 5px;
    padding: 1px 4px 0 4px;
    font-size: 11px;
    background-color: #F6F6F6;
}

#answer-topic a
{
    background-color: #DDD;
    border: solid 1px;
    border-color: #BBB #888 #888 #BBB;
    padding: 5px;
    text-decoration: none;
    cursor: pointer;
}

#answer-topic a:hover
{
    border-color: #888 #BBB #BBB #888;
}

#block-quick-answer
{
    margin: 50px auto;
    display: none;
}

.user-avatar
{
    width: 32px;
    height: 32px;
    float: left;
}

.user-avatar img
{
    width: 32px;
    height: 32px;
}

.user-details
{
    float: left;
    margin-left: 5px;
    overflow: hidden;
    white-space: nowrap;
    width: 100px;
}

.vote-t, .vote-m
{
    width: 70px;
    overflow: hidden;
}

/******************************************/
/************** Modal dialogs *************/
/******************************************/

#dialog-motif ol
{
    margin-left: 20px;
}

.close-modal-form, .close-motif, .reopen-modal-confirm, .message-validation a
{
    cursor: pointer;
}

#dialog-validate-message, #dialog-devalidate-message
{
    display: none;
}

/******************************************/
/**************** Add Topic ***************/
/******************************************/
#form_topic ul li label
{
    display: block;
    padding-top: 15px;
}

.tips
{
    font-size: 14px;
    margin-bottom: 45px;
    width: 700px;
}

.tips ol
{
    margin-left: 40px;
}

/******************************************/
/*************** Index tags ***************/
/******************************************/

#tags-table td
{
    padding: 0 40px 40px 0;
}

/******************************************/
/****************** Tagit *****************/
/******************************************/
#tags
{
    width: 600px;
}


/******************************************/
/****************** FAQ *******************/
/******************************************/
#faq
{
    width: 650px;
    text-align: justify;
}