a
{
    color: #222;
}

/******************************************/
/************ Menu Navigation *************/
/******************************************/

#forum_nav
{
    width: 970px;
}

#forum_nav ul
{
    margin: 70px auto;
    padding-left: 100px;
    list-style-type : none;
    /*padding-bottom: 1px;*/
}

#forum_nav ul li
{
    float : left;
    margin-left: 100px;
}

#forum_nav a
{
    font-family: Helvetica, Calibri, Tahoma;
    font-size: 16px;
    font-weight: bold;
    color: #1C1C1C;
    padding: 3px;
}

#forum_nav a:hover
{
    color: #FEFEFE; /* D3D3D3 */
    text-decoration: none;
    background-color: #993300; /* 1C1C1C */
}

/******************************************/
/***************** Content ****************/
/******************************************/
#content
{
    font-family: "Trebuchet MS", Arial;
    margin: 15px auto;
    width: 770px; /*700*/
    float: left;
}

/******************************************/
/*********** Sidebar let *****************/
/******************************************/
#sidebar-left
{
    float: left;
    overflow: hidden;
    width: 85px;
    background-color: #FFCC66;
    margin: 15px 10px 0 0;
    padding: 5px;
}


/******************************************/
/*********** Sidebar right *****************/
/******************************************/
#sidebar-right
{
    float: right;
    overflow: hidden;
    width: 200px;
    margin: 15px auto;
}

/******************************************/
/**************** Module ******************/
/******************************************/
.module
{
    margin: 0 0 15px auto;
}

/******************************************/
/************ Sort Module *****************/
/******************************************/
#sort-module
{
    background-color: #F1F1F1;
    padding: 10px;
    /*width: 150px;*/
    font-weight: bold;
}

#sort-module ul
{
    padding-left: 15px;
    list-style-type: none;
    font-weight: normal;
}

#description-module
{
    padding: 0 10px 0 10px;
    border: #666 dotted 1px;
}


/******************************************/
/***************** Topics *****************/
/******************************************/
#topics-top
{
    width: 768px;
    float: left;
    text-align: center;
    background-color: #D3D3D3;
    margin-bottom: 3px;
    border: grey solid 1px;
}

#topics
{
    float: left;
}

.topic
{
    width: 770px; /*700*/
    padding : 6px 0 6px 0;
    border-bottom: solid grey 1px;
    margin-bottom: 2px;
    background-color: #F1F1F1; /*#e6e6e6;/*#dcdcdd;*/
    float: left;
}

#topic-container-top
{
    width: 570px; /*500*/
    float: left;
}

.topic-container
{
    width: 570px; /*500*/
    float: left;
}

.topic-stats
{
    float: right;
    width: 195px;
}

.topic-subject a
{
	color: #0033FF;
	font-weight: bold;
	font-size: 13px;
}

.topic-subject a:hover, .topic-subject a:visited:hover
{
	color: #FF6600;
	text-decoration: none;
}

.topic-subject a:visited
{
    color: #5190bb;
}

.topic-subject
{
    padding-left: 15px;
    width: 550px;
    overflow: hidden;
    /*word-wrap: break-word;*/
}

.tags
{
    width: 550px;
    padding-left: 15px;
}

.tags
{
    padding-bottom: 8px;
    padding-top: 6px;
}

.tags a
{
    cursor: pointer;
    border-radius:5px 5px 5px 5px;
    background-color: #EEEEEE;
    border:1px solid #9999FF;
    padding:2px 4px 3px;
    color: #222222;
    text-decoration:none;
    
    
    
}

#topic-vote-top, #topic-response-top
{
    float: left;
    width: 50px;
    text-align: center;
    margin-top: 0;
}

.topic-vote, .topic-response-number
{
    float: right;
    width: 50px;
    text-align: center;
    margin-top: 0;
}

#topic-date-top
{
    float: left;
    text-align: center;
    width: 93px;
}

.topic-date
{
    float: right;
    text-align: center;
    width: 93px;
    border-right: solid grey 1px;
    border-left: solid grey 1px;
}



/******************************************/
/***************** Favoris ****************/
/******************************************/

#favtags
{
    overflow: hidden;
}

#favlist
{
    list-style-type : none;
}

ul#favlist li.favorited-style 
{
    border-radius:5px 5px 5px 5px;
    background-color: #EEEEEE; /*#DEE7F8;*/
    border:1px solid #9999FF; /*#CAD8F3;*/
    margin-top: 3px;
    float: left;
    clear: left;
}

ul#favlist li.favorited-style:hover , .tags a:hover
{
    background-color:#bbcef1;
    border-color:#6d95e0;
}

ul#favlist li.favorited-style a
{
    color: #222222;
    text-decoration:none;
    padding:2px 4px 3px;
}

ul#favlist li.favorited-style a.close2
{
    color:#777777;
    cursor:pointer;
    font-size:12px;
    font-weight:bold;
    outline:medium none;
    /*padding:2px 0 2px 3px;*/
    
}

/******************************************/
/*************** Show Topic ***************/
/******************************************/
#show-topic, #table-topic, #table-message
{
    width: 750px;
}

#topic-header
{  
    word-wrap: break-word;
    overflow: hidden;
}

#topic-header h1
{
    color: black;
    font-size: 20px;
    letter-spacing: 0px;
    width: inherit;
}

#topic-main, #message
{
    width: 750px;
    border: solid  #D3D3D3 1px;
    background-color: #F1F1F1;
    margin-bottom: 20px;
}

#topic-date, #message-date
{
    font-size: 11px;
    border-bottom: dotted grey 1px;
}

#topic-content, #message-content
{
    margin: 10px;
    /*line-height: 13px;*/
    font-size: 13.5px;
}

#table-vote-author
{
    background-color: #D3D3D3;
    float: right;
    margin-right: 50px;
}

#table-vote-author td
{
    height: 50px;
    padding: 10px;
}

#topic-tags, #topic-menu
{
    margin: 5px;
}

#topic-menu a, .nb-reopen-votes
{
    font-size: 11.5px;
    color: #555555;
}

.increment, .decrement
{
    cursor: pointer;
}

#table-message #comments
{
    margin: 20px;
}

#table-message .comment
{
    border-top: dashed grey 1px;
    margin-bottom: 20px;
    padding-top: 1px;
}

#topic-tags a
{
    border-radius:5px 5px 5px 5px;
    background-color: #EEEEEE; /*#DEE7F8;*/
    border:1px solid #9999FF; /*#CAD8F3;*/
    padding:2px 4px 3px;
    color: #333333;
    text-decoration:none;
}

#topic-tags a:hover
{
    background-color:#bbcef1;
    border-color:#6d95e0;
}

/******************************************/
/************** Modal dialogs *************/
/******************************************/

#dialog-motif ol
{
    margin-left: 20px;
}

.close-modal-form, .close-motif, .reopen-modal-confirm
{
    cursor: pointer;
}