/******************************************/
/*********** Overwrite bootstrap **********/
/******************************************/
.pagination
{
    height: auto;
}

.pagination .active a
{
    color: #eee;
}

/******************************************/
/*********** Overwrite jquery ui **********/
/******************************************/
.ui-widget
{
    font-size: 1em;
}

/******************************************/
/****************** Main ******************/
/******************************************/
body {
    margin:0;
    padding:0;
    width:100%;
    color:/*#9a9a9a*/ #333333;
    font:normal 85%/1.6em "Helvetica Nueue", Arial, Helvetica, sans-serif;
}
html {
    padding:0;
    margin:0;
    background: #fefefe /*#E6EBEA /*#E3EDE1 /*#A4D49F /*#9acc9a*/ /*url(../images/bg_islam5.png) top repeat-x;*/
}

.index
{
    /*background: url(../images/image2.jpeg);*/
    background: #E5E6E7;
}

.main
{
    width: 980px;
    margin: 0 auto;
}

.clr {
	clear:both;
	padding:0;
	margin:0;
	width:100%;
	font-size:0;
	line-height:0;
}

img{
    border: none;
}

.logo {
    padding-bottom: 7px;
    margin:0 auto;
    width:370px;
    float:left;
}
.logo img {
    float:left;
    margin:0 10px 0 0;
}

.logo a
{
    margin:0;
    padding:2px 0;
    width:120px;
    color:#fff;
    font:normal 36px Arial, Helvetica, sans-serif;
    letter-spacing:-2px;
    text-decoration: none;
    float:left;
}

.logo a:hover
{
    text-decoration: none;
}

h1 {
    margin: 0;
    padding: 5px 0;
    color: #000;
    font: normal 22px Arial, Helvetica, sans-serif;
}

h1 a {
    color:#fff;
    text-decoration:none;
    float:left;
}

h1 a:hover {
	color:#78bbe6;
	text-decoration:none;
}

h1 small {
	color:#fff;
	float:left;
	padding:18px 0 0 10px;
	font:normal 12px Arial, Helvetica, sans-serif;
	letter-spacing:normal;
}
h2 {
    font:normal 24px Arial, Helvetica, sans-serif;
    padding:0;
    margin:5px 0;
    color: #487700; /*#595959;*/
}

h3
{
    font:normal 16px Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin: 20px 0;
}

a {
    color: #222;
    cursor: pointer;
    text-decoration: none;
}

a:hover {
	text-decoration:underline;
}
a.rm, a.com {
	margin-left:8px;
	padding:9px 12px;
	background:repeat-x top;
	text-decoration:none;
	color:#fff;
}
.header, .content, .menu_nav, .fbg, .footer, form, ol, ol li, ul, .content .mainbar, .content .sidebar {
	margin:0;
	padding:0;
}
.header {
    margin:0 auto;
    padding:3px 0 0 0;
    width: 970px;
}

#bg-header-top
{
    /*background-color: #201414;*/
    background: url(../images/bandeau.jpg) repeat-y scroll center top black;
    height: 76px;
}

#bg-header-bottom
{
    background-color: #6599ff;
    height: 38px;
    margin-bottom: -114px; /* 76 + 38 px */
}

.footer {
    background-color: #595959;
    border-top: 4px solid #333;
    margin-top: 30px;
    padding: 20px 0 30px 0;
}
.footer-content p {
    margin:0;
    padding:4px 0;
    line-height:normal;
    color:#fff;
}
.footer-content a {
    color: #d9d9d9;
    padding: inherit;
    text-decoration: underline;
}
.footer-content a:hover {
    text-decoration: none;
}

.footer-content
{
    width: 970px;
    margin: auto;
    text-align: center;
    font-size: 94%;
}

form ul, form ol
{
    list-style: none outside none;
}

form ul li
{
    margin-bottom: 5px;
}

form ul .chkbx
{
    margin-top: 12px;
    margin-bottom: 9px;
}

form ul .chkbx label
{
    margin-right: 5px;
}

input, textarea, select
{
    width: inherit;
}

.label-left, .btn-left
{
    float: left;
}

.label-right, .btn-right
{
    float: right;
}

/******************************************/
/***************** Content ****************/
/******************************************/
#content
{
    /*font-family: "Trebuchet MS", Arial;*/
    margin: auto;
    width: 970px; /*700*/
    float: left;
}

/******************************************/
/*********** Sidebar right *****************/
/******************************************/
#sidebar-right
{
    float: right;
    overflow: hidden;
    width: 185px;
    margin: auto;
}

/******************************************/
/*************** Notify bar ***************/
/******************************************/
#notify-message-script
{
    font-family:Arial,Helvetica,sans-serif;
    position:fixed;
    top:0px;
    left:0px;
    width:100%;
    z-index:105;
    text-align:center;
    font-weight:bold;
    font-size:140%;
    color:white;
    padding:5px 0px 5px 0px;
    background-color:#8E1609;
}

#notify-message
{
    font-family:Arial,Helvetica,sans-serif;
    position:fixed;
    top:0px;
    left:0px;
    width:100%;
    z-index:105;
    text-align:center;
    font-weight:bold;
    font-size:140%;
    color:white;
    padding:5px 0px 5px 0px;
    background-color: #281;
}

#notify-message span, #notify-message-script span 
{
    text-align: center;
    width: 95%;
    float:left;
}

.close-notify 
{
    white-space: nowrap;
    float:right;
    margin-right:10px;
    color:#fff;
    text-decoration:none;
    /*border:2px #fff solid;*/
    padding-left:3px;
    padding-right:3px
}

.close-notify a 
{
    color: #fff;
}

#noscript-padding, #notification-padding
{
    padding-top: 33px;
}

/******************************************/
/************** Form Login Top ************/
/******************************************/

#user-top
{
    float: right;
    margin: 0 auto;
    width: 600px;
}

#user-top input
{
    margin-bottom: 4px;
}

#user-top #username, #user-top #password
{
    /*border: solid #9a9a9a 1px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;*/
    width: 120px;
}

#user-top #login
{
    cursor: pointer;
}

#form_login_top input
{
    float: right;
}

#form_login_top label
{
    float: left;
    color: #F1F1F1;
}

#user-top-links
{
    float: left;
    font-size: 11px;
    color: #F1F1F1;
}

#user-top-links-log
{
    float: left;
    color: #222;
    margin-top: 5px;
    width: 300px;
    background-color: #019428; /*#F7A922; /*#2b66c9;*/
    padding: 5px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

#user-top-links a
{
    color: #F1F1F1;
}

.user-top-info, .user-account-link
{
    float: left;
}

.user-top-info a
{
    color: #F1F1F1;
    font-size: 13px;
    font-weight: bold;
}

 .user-logout-link a
 {
     color: #222;
     font-weight: bold;
 }

.user-top-karma
{
    font-weight: bold;
    background-color: #EBEBEB;
    text-align: center;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

.user-top-notifications
{
    margin-left: 10px;
    float: right;
}

.user-top-notifications a, .user-top-notifications a:hover
{
    background-color: #F00;
    
    /* Safari 4-5, Chrome 1-9 */
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#666), to(#111));

    /* Safari 5.1, Chrome 10+ */
    background-image: -webkit-linear-gradient(top, #666, #111);

    /* Firefox 3.6+ */
    background-image: -moz-linear-gradient(top, #666, #111);

    /* IE 10 */
    background-image: -ms-linear-gradient(top, #666, #111);

    /* Opera 11.10+ */
    background-image: -o-linear-gradient(top, #666, #111);
    
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    padding: 2px 4px 2px 4px;
    cursor: pointer;
    text-decoration: none;
}

.user-top-notifications.new a, .user-top-notifications.new a:hover
{
    background-color: #F00;
    
    /* Safari 4-5, Chrome 1-9 */
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fe0000), to(#9a0000));

    /* Safari 5.1, Chrome 10+ */
    background-image: -webkit-linear-gradient(top, #fe0000, #9a0000);

    /* Firefox 3.6+ */
    background-image: -moz-linear-gradient(top, #fe0000, #9a0000);

    /* IE 10 */
    background-image: -ms-linear-gradient(top, #fe0000, #9a0000);

    /* Opera 11.10+ */
    background-image: -o-linear-gradient(top, #fe0000, #9a0000);
    
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    padding: 2px 4px 2px 4px;
    cursor: pointer;
    text-decoration: none;
}

.notifications
{
    position: absolute;
    z-index: 9999;
    background-color: #F1F1F1;
    border: solid 1px #AAA;
    width: 300px;
    height: 200px;
    padding: 5px;
    top: 64px;
    overflow: scroll;
}

.close-notifications
{
    color: #888;
    cursor: pointer;
}

.user-logout-link
{
    float: right;
}

/******************************************/
/**************** Navigation **************/
/******************************************/

#nav
{
    width: 970px;
    float: left;
    margin: auto;
}

#nav ul
{
    list-style: none;
    /*margin: 0 0 0 120px;*/
    margin: auto;
    padding: 0; 
    width: 70%;
    text-align: center;
}

#nav li
{
    float: left;
    margin: 0 1px 0 0;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 7px;
    margin-left: 30px;
    margin-right: 30px;
    position: relative;
}

#nav a
{
    font-size: 16px;
    font-weight: bold;
    color: #FFFFFF;
    display: block;
    float: left;
    /*line-height: 1.5em;*/
    text-decoration: none;
}

#nav a:hover
{
    color: #010101;
}

#nav li ul.subnav {
    list-style: none;
    position: absolute; /*--Important - Keeps subnav from affecting main navigation flow--*/
    left: 0; 
    top: 30px;
    padding: 0;
    display: none;
    float: left;
    width: 160px;
    border-left: 1px solid #6599FF;
    border-right: 1px solid #6599FF;
    border-bottom: 1px solid #6599FF;
    background-color: #85BBDD;
    
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#6599FF), to(#85BBDD));

    /* Safari 5.1, Chrome 10+ */
    background-image: -webkit-linear-gradient(top, #6599FF, #85BBDD);
    
    /* Firefox 3.6+ */
    background-image: -moz-linear-gradient(top, #6599FF, #85BBDD);
    
    /* IE 10 */
    background-image: -ms-linear-gradient(top, #6599FF, #85BBDD);

    /* Opera 11.10+ */
    background-image: -o-linear-gradient(top, #6599FF, #85BBDD);
}
#nav li ul.subnav li {
    margin: 0; 
    padding: 0;
    clear: both;
}

#nav li ul.subnav li a {
    display: block;
    padding: 2px 0 2px 10px;
    height: 25px;
    text-decoration: none;
    color: #fff;
    text-align: left;
    width: 150px;
}

#nav li ul.subnav li a:hover{
    color: #000;
    background-color: #fff;
}


.backtolist
{
    text-align: center;
    color: #201414;
    font-weight: bold;
}

.backtolist a:hover
{
    color: #F60;
}


/********************************/
/**** Login & Register Page *****/
/********************************/

#login, #register
{
    margin: 70px auto;
    border: solid 1px #AAA;
    -moz-box-shadow: 0 0 10px #888;
    -webkit-box-shadow: 0 0 10px #888;
    box-shadow: 0 0 10px #888;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background-color: #F0F0F0;
    height: auto;
}

#login
{
    width: 575px;
    padding: 10px 10px 50px 10px;
}

#register
{
    width: 610px;
    padding: 10px;
}

.help-error
{
    color: #B94A48;
}

.error
{
    border-color: #EE5F5B;
}

.error:focus
{
    border-color: #E9322D;
    -webkit-box-shadow: 0 0 6px #f8b9b7;
    -moz-box-shadow: 0 0 6px #f8b9b7;
    box-shadow: 0 0 6px #f8b9b7;
}

.user-login-links
{
    float: right;
}


/**************************/
/********* Modules ********/
/**************************/
.module
{
    margin: 0 0 15px auto;
}

.module h4
{
    font-size: 15px;
    margin: 6px 0 7px 0;
}

#sort-module
{
    background-color: #F1F1F1;
    padding: 10px;
    /*width: 150px;*/
    font-weight: bold;
}

#sort-module ul
{
    padding-left: 15px;
    list-style-type: none;
    font-weight: normal;
}

#description-module
{
    padding: 0 10px 0 10px;
    border: #666 dotted 1px;
}

.partage
{
    color: #00601A;
    font-weight: bold;
    font-size: 14px;
}

.modulep
{
    /*border: 1px solid #00601A;
    background-color: #1C6F32;
    padding: 5px;
    color: #fff;*/
    padding: 5px 0 5px 0;
    border-bottom: 1px solid #EBEBEB;
    color: #00601A;
    margin-top: 10px;
    line-height: 1.4em;
}

.modulep h4
{
    font-size: 15px;
    margin: 6px 0 7px 0;
    color: #333;
}

.modulep2
{
    border: 1px solid #00601A;
    background-color: #ACDB63;
    padding: 5px;
    margin-top: 10px;
}

.last-news
{
    padding: 5px 0 5px 0;
    border-top: 1px solid #EBEBEB;
    border-bottom: 1px solid #EBEBEB;
    line-height: 1.2em;
}

.last-news .news
{
    margin-top: 10px;
}

.last-news a
{
    color: #0069D6;
    font-weight: bold;
    font-size: 13px;
}

.last-news .date
{
    font-size: 11px;
    color: #888;
    display: block;
    line-height: 1.5em;
}

#partner
{
    width: 770px;
    margin: 30px auto;
    /*background:url("../images/banner.jpg") no-repeat left;*/
}

/*******************************/
/********* Welcome Page ********/
/*******************************/
.index-content
{
    margin: 0 auto;
}

#welcome-content
{
    width: 800px;
    text-align: center;
    margin: 0 auto;
}

.work
{
    margin-top: 40px;
    margin-bottom: 40px;
}

#welcome-content a
{
    text-align: center;
    float: none;
    margin: 0 auto;
    color: #0069D6;
    text-decoration: underline;
}

#welcome-content a:hover
{
    color: #FF6600;
}

#index-icons {
    width: 630px;
    margin: 0 auto;
}

#index-icons td a
{
    color: #ffffff;
    display: inline-block; 
    height:100%; 
    width:100%;
    padding: 15px 0;
}

#index-icons table
{
    border-spacing: 20px;
}

#index-icons td {
    width: 200px;
    background-color: #019428;
    height: 100%;
    /*border-radius: 7px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;*/
}

#index-icons td a:hover {
    color: #222;
    text-decoration: none;
}

#index-icons img {
    width: 128px;
    height: 128px;
}

#index-icons a {
    text-align: center;
    font-size: 150%;
    margin: 0;
    font-weight: bold;
}

#index-icons td .detail {
    text-align: center;
    font-size: 80%;
    letter-spacing: 0.05em;
    margin: 0;
}

.index-register {
    margin: 0 auto;
    width: 100px;
    font-weight: bold;
}

/******************************************/
/***************** News *******************/
/******************************************/
.main-news
{
    width: 670px;
    float: left;
    margin: 0 auto 30px auto;
    border-bottom: 1px solid #DDD;
}

.main-news h2
{
    font-size: 16px;
    color: #222;
    font-weight: bold;
}

.main-news .info
{
    font-size: 11px;
    color: #888;
    display: block;
    line-height: 2.2em;
}

/******************************************/
/************** User account **************/
/******************************************/

#user-info
{
    margin: 0px auto;
    padding: 4px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background-color: #eee;
    float: left;
}

#user-info img
{
    width: 128px;
    height: 128px;
}

#user-topics
{
    width: 650px;
    float: left;
}

.user-topic
{
    background-color: #EEE;
    width: 650px;
    margin-bottom: 7px;
    float: left;
    -moz-box-shadow: 0 0 1px #888;
    -webkit-box-shadow: 0 0 1px #888;
    box-shadow: 0 0 1px #888;

}

.user-topic:hover
{
    background-color: #FEFEFE;
    -moz-box-shadow: 0 0 2px #888;
    -webkit-box-shadow: 0 0 2px #888;
    box-shadow: 0 0 2px #888;
}

.user-topic-subject-date-block
{
    float: left;
}

.user-topic-date
{
    padding-left: 15px;
}

.user-topic-vote
{
    text-align: center;
    margin: 10px 10px 8px 4px;
    padding: 0 3px 0 3px;
    -moz-box-shadow: 0 0 3px #888;
    -webkit-box-shadow: 0 0 3px #888;
    box-shadow: 0 0 3px #888;
    background-color: #D3D3D3;
    float: right;
}

#user-messages
{
    width: 650px;
    float: left;
}

.user-message
{
    width: 635px;
    border-top: dotted 1px #AAA;
    padding-bottom: 5px;
    padding-left: 15px;
}

.user-message a
{
    float: left;
    text-decoration: none;
    color: #222;
}

.fav-list h3
{
    margin: 0;
    font-size: 120%;
}

.fav-doc
{
    width: 700px;
    overflow: hidden;
    margin-top: 15px;
    padding: 5px;
    border-bottom: dotted #AAA 1px;
}

.fav-doc:hover
{
    background-color: #ececec;
    border-bottom-color: #ececec;
    -moz-box-shadow: 0 0 1px #888;
    -webkit-box-shadow: 0 0 1px #888;
    box-shadow: 0 0 1px #888;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

#user-info .user-avatar, #user-info .user-karma, #user-info .user-data
{
    float: left;
    padding: 20px;
}

#user-info .user-karma {
    width: 700px;
    margin: 0 auto;
}

#user-info .user-karma h3{
    font-size: 120%;
    margin: 0;
}

#user-info .user-links
{
    clear: both;
    padding: 0 20px 20px;
}

#user-info .user-links .cell {
    padding: 5px;
    border: solid #aaa 1px;
}

#user-info .user-links table{
    border-spacing: 4px 0px;
}

#user-info .user-links .cell:hover {
    background-color: #ddd;
    text-decoration: none;
}

#user-info .user-links .cell a:hover {
    text-decoration: none;
}

.stats-karma td
{
    padding: 5px;
}

.stats-type
{
    width: 90px;
}

.stats-date
{
    width: 50px;
}

.stats-link
{
    width: 520px;
}

.stats-type .positive
{
    color: #281;
    font-weight: bold;
    font-size: 105%;
}

.stats-type .negative
{
    color: #E9322D;
    font-weight: bold;
    font-size: 105%;
}

/******************************************/
/*************** Users list ***************/
/******************************************/
#user-list .user
{
    width: 177px;
    margin: 7px 7px 20px 7px;
    float: left;
}

#user-list .user-avatar
{
    float: left;
}

#user-list .user-data
{
    float: left;
    margin-left: 7px;
}

#user-list img
{
    width: 48px;
    height: 48px;
}

/******************************************/
/*************** Pagination ***************/
/******************************************/

.pagination a:hover
{
    color: #222;
    text-decoration: none;
}

.pagination a:hover, .pagination .active a
{
    background-color: #F7A922;
}



/******************************************/
/***************** Tags *******************/
/******************************************/
#tags input {
    box-shadow: none;
}

.tags
{
    padding-left: 15px;
    padding-top: 6px;
    float: left;
}

.tags2
{
    float: left;
}

.tag
{
    border-radius:5px 5px 5px 5px;
    -webkit-border-radius:5px 5px 5px 5px;
    -moz-border-radius:5px 5px 5px 5px;
    background-color: #3E6D8E;
    border:1px #00438a solid;
    margin-right: 2px;
    color: #333333; 
    float: left;
    padding: 0 3px 0 3px;
    font-size: 11px;
    line-height: 180%;
}

.tag:hover
{
    background-color: #7F9FB6;
    border-color:#00438a;
    cursor: pointer;
}

.tag-name a
{
    text-decoration:none;
    color: #fefefe;
}

.tag-name:hover
{
    color: #222;
}

.tag-name
{
    float: left;
}

.tag-action
{
    padding: 3px 0 0 4px;
    float: right;
}

.tag-action img
{
    vertical-align: middle;
}

/******************************************/
/***************** Favoris ****************/
/******************************************/

#favtags
{
    overflow: hidden;
}

#favlist
{
    list-style-type : none;
}

ul#favlist li.favorited-style 
{
    border-radius:5px 5px 5px 5px;
    -moz-border-radius:5px 5px 5px 5px;
    background-color: #3E6D8E;
    border:1px #00438a solid;
    margin-top: 3px;
    float: left;
    clear: left;
}

ul#favlist li.favorited-style:hover
{
    background-color: #7F9FB6;
    border-color:#00438a;
}

ul#favlist li.favorited-style a
{
    text-decoration:none;
    color: #fefefe;
    padding:2px 4px 3px;
}

ul#favlist li.favorited-style a.close2
{
    color:#777777;
    cursor:pointer;
    font-size:12px;
    font-weight:bold;
    outline:medium none;
    /*padding:2px 0 2px 3px;*/
    
}


/******************************************/
/**************** Library *****************/
/******************************************/
.library-content
{
    width: 770px;
    float: left;
}

.library-content form
{
    /*width: 687px;*/
}

.library
{
    float: left;
    width: 750px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.library-document
{
    background-color: #EEE;
    width: 750px; /*700*/
    padding-bottom : 6px;
    border-bottom: solid #AAA 1px;
    /*background-color: #F1F1F1; /*#e6e6e6;/*#dcdcdd;*/
    float: left;
    margin-bottom: 10px;
    -moz-box-shadow: 0 0 1px #888;
    -webkit-box-shadow: 0 0 1px #888;
    box-shadow: 0 0 1px #888;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.document-vote
{
    background-color: #AAA;
    color: #fff;
    font-size: 0.9em;
    padding: 2px 4px 2px 4px;
    text-align: center;
    margin-right: 4px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

.document-vote.positive
{
    background-color: #281;
    color: #fff;
}

.document-vote.negative
{
    background-color: #E9322D;
    color: #fff;
}

.add-document
{
    width: 640px;
}

.add-document-description
{
    margin-bottom: 30px;
    font-weight: bold;
}

.document-header a
{
    color: #0069D6;
    font-weight: bold;
    font-size: 14px;
}

.document-header a:hover, .document-header a:visited:hover
{
    color: #FF6600;
    text-decoration: none;
}

.document-header a:visited
{
    color: #4A6B82;
}

.document-header
{
    padding: 3px 0 3px 5px;
    width: 735px;
    border-bottom: #555555 dotted 1px;
    overflow: hidden;
}

.document-description
{
    padding: 10px 0 10px 15px;
    line-height: 120%;
}

.document
{
    width: 750px;
    overflow: hidden;
}

.document table{
    width: inherit;
}

.document-show-vote, .document-show-vote-cell {
    width : 60px;
    vertical-align: top;
    padding-top: 10px;
    text-align: center;
}

.document-show-vote ul {
    list-style-type: none;
}

.vote-value
{
    font-size: 170%;
    font-weight: bold;
    color: #555;
    display: block;
}

.document-date
{
    float: left;
    font-size:  0.9em;
    padding: 5px 10px 5px 0;
}

.document-show-header
{
    border-top: #595959 solid 1px;
    word-wrap: break-word;
}

.document-show-description
{
    /*border-left: #595959 dashed 1px;*/
    text-align: left;
    overflow: hidden;
}

.document-show-description-cell{
    
    vertical-align: baseline;
    background-color: #f3f3f3;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 5px;
}

.document-show-description ol, .document-show-description ul
{
    padding-left: 40px;
}

.document-show-date
{
    margin-top: 10px;
    color: #6C6C6C;
}

.document-show-date.posted
{
    font-size: 0.9em;
}

.document-show-date.edit
{
    font-size: 0.8em;
    font-weight: bold;
}

.document-show-source
{
    margin: 10px 0 10px 0;
    color: #6C6C6C;
    font-size: 120%;
    font-weight: bold;
}

.document-menu
{
    float: left;
    width: 735px;
    padding-left: 15px;
}

.document-menu a
{
    margin-right: 7px;
}

.document-show-menu
{
    clear: both;
    margin-top: 30px;
    padding-top: 10px;
}

.document-comments
{
    clear: both;
    margin-top: 50px;
}

.document-comment
{
    border: solid #9ADB38 1px;
    background-color: #ACDB63;
    padding: 0 5px 0 5px;
    -moz-box-shadow: 1px 1px 1px #888;
    -webkit-box-shadow: 1px 1px 1px #888;
    box-shadow: 1px 1px 1px #888;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    margin-bottom: 7px;
}

.comment-author
{
    margin: 0;
    border-bottom: dotted #487700 1px;
}

/******************************************/
/****************** Faq ******************/
/******************************************/
#faq
{
    font-size: 15px;
}

#faq h3
{
    font-size: 18px;
}