
body {
	margin:0;
	padding:0;
	width:100%;
	color:/*#9a9a9a*/ #333333;
	font:normal 12px/1.8em Arial, Helvetica, sans-serif;
}
html {
	padding:0;
	margin:0;
	background:#fefefe url(../images/bg_orange.png) top repeat-x;
}

.main
{
    width: 980px;
    margin: 0 auto;
}

.clr {
	clear:both;
	padding:0;
	margin:0;
	width:100%;
	font-size:0;
	line-height:0;
}

img{
    border: none;
}

.logo {
	padding:15px 0 20px 0;
	margin:0 auto;
	width:400px;
	float:left;
}
.logo img {
	float:left;
	margin:0 10px 0 0;
}
h1 {
	margin:0;
	padding:5px 0;
	width:340px;
	color:#fff;
	font:normal 36px Arial, Helvetica, sans-serif;
	letter-spacing:-2px;
}
h1 a {
	color:#fff;
	text-decoration:none;
	float:left;
}
h1 a:hover {
	color:#78bbe6;
	text-decoration:none;
}
h1 a:hover span {
	color:#fff;
}
h1 span {
	color: /*#33CC33;*/#FFCC66;
}
h1 small {
	color:#fff;
	float:left;
	padding:18px 0 0 10px;
	font:normal 12px Arial, Helvetica, sans-serif;
	letter-spacing:normal;
}
h2 {
	font:normal 24px Arial, Helvetica, sans-serif;
	padding:0;
	margin:5px 0;
	color:#595959;
}

a {
	color:#78bbe6;
	text-decoration:none;
}
a:hover {
	text-decoration:underline;
}
a.rm, a.com {
	margin-left:8px;
	padding:9px 12px;
	background:repeat-x top;
	text-decoration:none;
	color:#fff;
}
.header, .content, .menu_nav, .fbg, .footer, form, ol, ol li, ul, .content .mainbar, .content .sidebar {
	margin:0;
	padding:0;
}
.header {
    margin:0 auto;
	padding:3px 0 0 0;
	width:970px;
}


/******************************************/
/*************** Form Login ***************/
/******************************************/

#user-top
{
    float: right;
    margin: 0 auto;
    width: 570px;
}

#form_login_top input
{
    float: left;
}

#form_login_top label
{
    float: left;
    color: #F1F1F1;
}

#user-top-links
{
    float: right;
    font-size: 0.9em;
    color: #F1F1F1;
}

#user-top-links-log
{
    float: left;
    color: #F1F1F1;
    margin-top: 10px;
}

#user-top-links a, #user-top-links-log a
{
    color: #F1F1F1;
}

.menu_nav {
	margin:20px 0 0 0;
	padding:3px 0 0 10px;
	float:right;
	width:500px;
}
.menu_nav ul {
	list-style:none;
	padding:0;
	margin:0;
}
.menu_nav li {
	float:left;
	padding:0 5px;
}
.menu_nav li a {
	background:url(../images/r_menu_one.gif) no-repeat right;
	font:normal 13px Arial, Helvetica, sans-serif;
	color:#878989;
	display:block;
	float:left;
	padding:10px 0;
}
.menu_nav li a span {
	background:url(../images/l_menu_one.gif) no-repeat left;
	padding:10px 15px;
}
.menu_nav li a:hover {
	text-decoration:none;
	color:#fff;
	background:url(../images/r_menu.gif) no-repeat right;
}
.menu_nav li a:hover span {
	text-decoration:none;
	color:#fff;
	background:url(../images/l_menu.gif) no-repeat left;
}
.menu_nav li.active a {
	text-decoration:none;
	color:#fff;
	background:url(../images/r_menu.gif) no-repeat right;
}
.menu_nav li.active a span {
	text-decoration:none;
	color:#fff;
	background:url(../images/l_menu.gif) no-repeat left;
}

#nav
{
    width: 970px;
    float: left;
}

#nav ul
{
    list-style: none;
    margin: 0 0 0 120px;
    padding: 0; 
    
}

#nav li
{
    float: left;
    margin: 0 1px 0 0;
    padding-left: 10px;
   padding-right: 10px;
    margin-left: 30px;
    margin-right: 30px;
    
}

#nav a
{
    font-size: 16px;
    font-weight: bold;
    color: #FFFFFF;
    display: block;
    float: left;
    /*line-height: 1.5em;*/
    
    text-decoration: none;
}

#nav a:hover
{
    color: #010101;
}


.footer {
	width:970px;
	margin:0 auto;
	padding:40px 0 20px 0;
}
.footer p {
	margin:0;
	padding:4px 0;
	line-height:normal;
	color:#9a9a9a;
}
.footer a {
	color:#9a9a9a;
	padding:inherit;
	text-decoration:underline;
}
.footer a:hover {
	text-decoration:none;
}
.footer .lf {
	float:left;
}
.footer .rf {
	float:right;
}
