

.search {
	margin:0;
	padding:20px 0;
}
.search form {
	padding:0;
	margin:0;
}
.search span {
	display:block;
	float:left;
	background:#fff;
	border:1px solid #dcdcdd;
	width:250px;
	padding:0 5px;
	height:29px;
	margin:0;
}
.search form .keywords {
	width:220px;
	line-height:13px;
	height:13px;
	float:left;
	background:none;
	border:0;
	padding:8px 0px;
	margin:0;
	font:normal 11px Arial, Helvetica, sans-serif;
	color:#767676;
}
.search form .button {
	float:left;
	margin:0;
	padding:4px 0 0 0;
	border:0;
	position:relative;
}
.content {
	padding:10px 0 0 0;
}
.content_resize {
	margin:0 auto;
        margin-left: 10px;
	padding:20px 0 0 0;
	width:970px;
}
.content .mainbar {
	margin:0;
	float:right;
}
.content .mainbar img {
	float:left;
	padding:4px;
	margin:0 10px 0 0;
	border:1px solid #eaecec;
	background-color:#fff;
}
.content .mainbar .article {
	margin:0 0 20px 0;
	padding:30px 20px;
	width:610px;
        
}
.content .mainbar .article span.butons a {
	margin:0 5px 0 0;
	float:right;
	color:#9a9a9a;
	padding:1px 10px;
	text-decoration:none;
	border:1px solid #ebe8e8;
	background:#fbfbfc;
}
.content .mainbar .article span.butons a:hover {
	border:1px solid #d9f0ff;
	background:#78bbe6;
	color:#fff;
	text-decoration:none;
}
.content .mainbar .article span.butons a.active {
	border:1px solid #ebe8e8;
	background:#78bbe6;
	color:#fff;
	text-decoration:none;
}
.content #sidebar {
	margin:0;
	padding:0;
	float:left;
}
.content .sidebar .gadget {
	margin:0 0 20px 0;
	padding:30px 20px;
	width:230px;
}

.gadget {
    /*background-color: #B6B6B6;
     -moz-border-radius : 15px;*/
    
}



/*ul.sb_menu {
	margin:0;
	padding:0;
	list-style:none;
        background-color: #B6B6B6;
	color:#959595;
        border-style: solid;
        border-width: 1px;
        border-color: grey;
}
ul.sb_menu li {
	margin:0;
}
ul.sb_menu li {
	padding:4px 0 4px 12px;
	width:220px;
}
ul.ex_menu li {
	padding:4px 0 8px 12px;
}
ul.sb_menu li a {
	color:#000000;
	text-decoration:none;
	margin-left:-12px;
	padding-left:22px;
}
ul.sb_menu li a:hover {
	color:#FFFFFF;
	text-decoration:none;
}
ul.sb_menu li a:hover {
	text-decoration:none;
}*/

/*.content .mainbar .comment {
	margin:0;
	padding:16px 0 0 0;
}
.content .mainbar .comment img.userpic {
	border:1px solid #dedede;
	margin:10px 16px 0 0;
	padding:0;
	float:left;
}*/
.fbg {
	padding:10px 0 0 0;
	background:/*#1e557a*/ url(../images/fg.gif) bottom repeat-x;
	margin:10px 0 0 0;
}
.fbg_resize {
	margin:0 auto;
	padding:20px 20px;
	width:930px;
}
.fbg h2 {
	color:#5190bb;
}
.fbg p {
	color:#fff;
}
.fbg a {
	color:#5190bb;
	text-decoration:none;
}
.fbg img {
	padding:4px;
	border:1px solid #cfd2d4;
	background-color:#fff;
}
.fbg .col {
	margin:0;
	float:left;
}
.fbg .c1 {
	padding:0 16px 0 0;
	width:266px;
}
.fbg .c2 {
	padding:0 16px;
	width:300px;
}
.fbg .c3 {
	padding:0 0 0 16px;
	width:260px;
}
.fbg .c1 img {
	margin:8px;
}
.fbg .c3 img {
	margin:8px 16px 4px 0;
	float:left;
}
.footer {
	width:970px;
	margin:0 auto;
	padding:40px 0 20px 0;
}
.footer p {
	margin:0;
	padding:4px 0;
	line-height:normal;
	color:#9a9a9a;
}
.footer a {
	color:#9a9a9a;
	padding:inherit;
	text-decoration:underline;
}
.footer a:hover {
	text-decoration:none;
}
.footer .lf {
	float:left;
}
.footer .rf {
	float:right;
}
ol {
	list-style:none;
}
ol li {
	display:block;
	clear:both;
}
ol li label {
	display:block;
	margin:0;
	padding:16px 0 0 0;
}
ol li input.text {
	width:480px;
	border:1px solid #c0c0c0;
	margin:2px 0;
	padding:5px 2px;
	height:16px;
	background:#fff;
}
ol li textarea {
	width:480px;
	border:1px solid #c0c0c0;
	margin:2px 0;
	padding:2px;
	background:#fff;
}
ol li .send {
	margin:16px 0 0 0;
}

.post {
        margin:30px 0 20px 0;
	padding:0px 20px;
	width:610px;
        /*border: solid black 1px;
        background: #666666;
        -moz-border-radius: 10px;*/
}

.post .title {
	height: 38px;
	margin-bottom: 10px;
	padding: 12px 0 0 0px;
	letter-spacing: -.5px;
	color: #959595;
}

.post .title a {
	color: #959595;
	border: none;
}

.post .title a:hover {
    text-decoration:none;
    color: #676767;
}

.post .meta {
	margin-bottom: 30px;
	padding: 5px 0px 15px 0px;
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
}

.post .meta .date {
	float: left;
}

.post .meta .posted {
	float: right;
}

.post .meta a {
}

.post .entry {
	padding: 0px 0px 20px 0px;
	padding-bottom: 20px;
	text-align: justify;
}

.links {
	height: 30px;
	background: url(../images/img05.jpg) no-repeat left 20px;
	padding: 30px 0px 0px 30px;
	font-size: 12px;
	color: #1C1C1C;
}

.links a
{
    color: #FFFFFF;
}

/* Sidebar */

.category
{
    width:auto;
    padding: 4px 0 4px 5px;
    background: url(../images/degrade_vert.jpg) no-repeat;
    /*background-color: #006600;/*#333333;
   /* -moz-border-radius : 15px;*/
    color: #FFFFFF;
   font-weight: bold;
   /*border-style: solid;
        border-width: 1px;
        border-color: black;*/
    
}

#sidebar {
        margin:0 0 20px 0;
	padding:30px 20px;
	width:214px; /*230*/
	color: #787878;
}

#sidebar ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#sidebar li {
	margin: 0;
	padding: 0;
}

#sidebar li ul {
	margin: 0px 0px;
	padding-bottom: 5px;
}

#sidebar li li {
	border-bottom: 1px solid #1E1E1E;
	background: #009900;/*#121212;*/
	margin: 0px;
	padding: 3px 0px;
	border-left: none;
}

#sidebar li li a {
	padding-left: 25px;
	background: url(../images/img03.jpg) no-repeat 15px 4px;
}

#sidebar li li span {
	display: block;
	margin-top: -20px;
	padding: 0;
	font-size: 11px;
	font-style: italic;
}

#sidebar h2 {
	height: 38px;
	padding-left: 30px;
	letter-spacing: -.5px;
	font-size: 1.8em;
	color: #FFFFFF;
}

#sidebar p {
	margin: 0 0px;
	padding: 0px 30px 20px 30px;
	text-align: justify;
}

#sidebar a {
	border: none;
	color: #FFFFFF/*#878787*/;
}

#sidebar a:hover {
	text-decoration: underline;
	color: #FFFFFF;
}

/* Search */

#search {
	margin: 0px;
	padding: 20px 0px ;
	background: url(images/img04.jpg) no-repeat 20px 28px;
}

#search form {
	margin: 0;
	padding: 10px 0 0 20px;
}

#search fieldset {
	margin: 0;
	padding: 0;
	border: none;
}

#search-text {
	/*border: none;
	background: none;*/
	text-transform: lowercase;
	font: normal 11px Arial, Helvetica, sans-serif;
	color: #FFFFFF;
}

#search-submit {
	/*border: none;
	background: none;*/
	color: #000000;
}

/* Religion */

.sourate {
    font: bold italic 12px calibri;
}

/* Comments */

.comments {
    border-top: solid black 1px;
    margin:0 0 20px 0;
    padding:30px 20px;
    width:610px;
}

.comment {
    background: grey;
    padding: 0px 5px 0 5px;
    -moz-border-radius: 5px;
}

.comment_author{
    border-bottom: solid #999999 1px;
}